.header {
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;    
}
@media (max-width:480px) {
    .header {
        position:relative;
    }
}